// Requerido
@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';

// Colores
$primary: #E91E63;
$secondary: #FF9800;

// Tema
$theme-colors: (
	"primary": $primary,
	"secondary": $secondary
);

// Bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';

/*
 * Lista de canciones
 */
#songList {
	//border-left: 3px solid $gray-500;
	height: 100vh;
	list-style: none;
	overflow-y: auto;
	user-select: none;

	> div {
		transition: background-color 250ms;
		font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
		&:hover {
			cursor: pointer;
			color: $light;
			background-color: $primary;

			span {
				color: $gray-300 !important;
			}
		}

		span {
			pointer-events: none;
		}

		&.active {
			background-color: $secondary;
		}
	}

	> p {
		font-family: 'Nunito Sans', sans-serif;
	}
}

#songListTitle {
	background-color: $gray-600;
	font-family: 'Nunito Sans', sans-serif;
	height: 70px;
	user-select: none;
}

.list-pair {
	background-color: $gray-400;

	&-not {
		background-color: $gray-200;
	}
}

@include media-breakpoint-down(md) {
	#songList {
		height: 60vh;
	}
}

/*
 * Reproductor
 */
#songTitleContainer {
	background-color: rgba($color: $black, $alpha: 0.7);
	height: 70px;
	white-space: nowrap;
	width: 100%;
}

#songTitle {
	color: $light;
	float: left;
	font-family: 'Nunito Sans', sans-serif;
	position: relative;
	user-select: none;

	span {
		color: $gray-500;
	}
}

#player {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 40vh;
}

#playerPanel {
	background-color: rgba($color: $black, $alpha: 0.7);
	bottom: 0;
	height: 65px;
	left: 0;
	position: absolute;
	user-select: none;
	width: 100%;
}

#playerRange {
	-webkit-appearance: none;
	background-color: rgba($color: $gray-500, $alpha: 0.7);
	height: 15px;
	outline: none;
	overflow: hidden;
	opacity: 0.7;
	position: absolute;
	top: -15px;
	transition: 200ms;
	width: 100%;

	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		box-shadow: -100vw 0 0 100vw $primary;
		cursor: pointer;
		transition: 150ms;
		width: 0;
	}

	&:hover {
		cursor: pointer;
		opacity: 1.0;
	}
}

#playerVolumeContainer {
	height: 25px;
	left: 25px;
	margin-top: -10px;
	overflow: hidden;
	position: absolute;
	top: 50%;
	width: 250px;

	> #playerVolume {
		-webkit-appearance: none;
		background: $gray-600;
		cursor: pointer;
		height: 25px;
		opacity: 0.7;
		outline: none;
		transition: opacity 200ms;
		width: 80%;

		&::-webkit-slider-thumb {
			-webkit-appearance: none;
			box-shadow: -100vw 0 0 100vw $info;
			cursor: pointer;
			transition: 150ms;
			width: 0;
		}

		&:hover {
			opacity: 1.0;
		}
	}
}

#controls {
	color: $gray-400;
}

.control-btn {
	transition: color 200ms;
	&:hover {
		cursor: pointer;
		color: $primary;
	}
}

.playIcon {
	display: none !important;
	margin-top: -8px;
	right: 8px;
	top: 50%;

	&-show {
		display: block !important;
	}
}
