// Requerido
@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';

// Colores
$primary: #E91E63;
$secondary: #FF9800;

// Tema
$theme-colors: (
	"primary": $primary,
	"secondary": $secondary
);

// Bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';

// Fuentes
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,700|Source+Sans+Pro&display=swap');

/*
 * Lista de canciones
 */
#songList {
	height: 100vh;
	list-style: none;
	overflow-y: auto;
	//border-left: 3px solid $gray-500;

	> div {
		transition: background-color 250ms;
		font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
		&:hover {
			cursor: pointer;
			color: $light;
			background-color: $primary;

			span {
				color: $gray-300 !important;
			}
		}

		span {
			pointer-events: none;
		}

		&.active {
			background-color: $secondary;
		}
	}

	> p {
		font-family: 'Nunito Sans', sans-serif;
	}
}

#songListTitle {
	background-color: $gray-600;
}

.list-pair {
	background-color: $gray-400;

	&-not {
		background-color: $gray-200;
	}
}


/*
 * Reproductor
 */
#songTitle {
	background-color: rgba($color: $black, $alpha: 0.7);
	color: $light;
	font-family: 'Nunito Sans', sans-serif;

	span {
		color: $gray-500;
	}
}

#player {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#playerPanel {
	background-color: rgba($color: $black, $alpha: 0.7);
	bottom: 0;
	height: 65px;
	left: 0;
	position: absolute;
	user-select: none;
	width: 100%;
}

#playerRange {
	-webkit-appearance: none;
	background-color: rgba($color: $gray-500, $alpha: 0.7);
	height: 15px;
	outline: none;
	overflow: hidden;
	position: absolute;
	top: -15px;
	transition: 200ms;
	width: 100%;

	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		appearance: none;
		box-shadow: -100vw 0 0 100vw $primary;
		cursor: pointer;
		transition: 150ms;
		width: 0;
	}

	&:hover {
		cursor: pointer;
	}
}

#controls {
	color: $gray-400;
}

.controlButton {
	&:hover {
		cursor: pointer;
	}
}

.playIcon {
	display: none !important;
	margin-top: -8px;
	right: 8px;
	top: 50%;

	&-show {
		display: block !important;
	}
}