// Colores
$primary: #E91E63;
$secondary: #FF9800;
$dark: #343A40;
$gray: #ADB5BD;
$light-gray: #CED4DA;
$info: #1976D2;

// Variables
$scrollbar-width: 10px;
$scrollbar-radius: 8px;
$side-width: 35vw;

/*
 * Todo
 */
* {
	font-family: 'Nunito Sans', Arial;
}

/*
 * Cuerpo
 */
body {
	margin: 0;
}

/*
 * Botones
 */
.btn {
	border: 0;
	border-radius: 5px;
	padding: 0.5rem 0.8rem;
	font-size: 1em;
	transition: opacity 150ms;

	// Botón claro
	&.btn-light {
		background-color: whitesmoke;
	}

	// Botón verde
	&.btn-green {
		background-color: green;
		color: white;
	}

	// Hover
	&:hover {
		opacity: 0.8;
	}
}

/*
 * Lista de canciones
 */
.songs-list {
	height: calc(100vh - 95px);
	overflow-y: auto;

	// Scrollbar
	&::-webkit-scrollbar {
		width: $scrollbar-width;
	}

	&::-webkit-scrollbar-track {
		box-shadow: inset 0 0 6px rgba($color: black, $alpha: 0.2);
	}

	&::-webkit-scrollbar-thumb {
		background: $primary;
	}

	// Canción
	.song {
		background-color: whitesmoke;
		margin-bottom: 3px;
		overflow: hidden;
		position: relative;
		transition: opacity 150ms;

		// Hover
		&:hover {
			cursor: pointer;
			opacity: 0.7;

			// Mostrar icono en hover
			> .icon {
				display: block;
			}
		}

		// Todos los elementos
		* {
			pointer-events: none;
		}

		// Imágen
		.image {
			float: left;
			height: 70px;
			padding-right: 0.5rem;
			width: 120px;
		}

		// Icono
		.icon {
			color: $primary;
			display: none;
			left: 50px;
			text-shadow: 0 0 5px black;
			position: absolute;
			top: 30px;
		}

		// Título
		.title {
			font-size: 1.2em;
			margin-top: 0.5rem;
			margin-bottom: 0;
		}

		// Artista
		.artist {
			margin: 0;
			color: $gray;
		}

		// Clase activa
		&.active {
			background-color: rgba($color: $secondary, $alpha: 0.2);
			// Icono
			> .icon {
				color: $secondary;
				display: block;
			}
		}
	}
}

/*
 * Barra de búsqueda
 */
.search-bar {
	display: flex;
	align-items: center;
	background-color: $primary;
	height: 35px;

	// Input
	.search-input {
		border: 0;
		height: 100%;
		margin-left: auto;
		margin-right: $scrollbar-width;
		padding-left: 10px;
		padding-right: 10px;
		width: 15rem;
	}

	// Título
	.title {
		color: white;
		margin-left: $scrollbar-width;
	}
}

/*
 * Controles
 */
.controls {
	align-items: center;
	background-color: $primary;
	box-shadow: 0 0 2px solid white;
	display: flex;
	height: 60px;
	position: relative;

	// Barra de reproducción
	.seek-bar {
		-webkit-appearance: none;
		background: $light-gray;
		height: 8px;
		margin: 0;
		outline: none;
		overflow: hidden;
		position: absolute;
		top: -8px;
		transition: 200ms;
		width: 100%;

		&::-webkit-slider-thumb {
			-webkit-appearance: none;
			box-shadow: -100vw 0 0 100vw $secondary;
			cursor: pointer;
			transition: 150ms;
			width: 0;
		}

		&:hover {
			cursor: pointer;
			height: 15px;
			top: -15px;
		}
	}

	// Contenedor de información
	.info-container {
		height: 100%;
		width: $side-width;

		// Miniatura
		.preview {
			float: left;
			margin-right: 8px;
			width: 100px;
			height: 100%;
		}

		// Título
		.title {
			color: white;
			margin: 0;
			margin-top: 3px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

		// Artista
		.artist {
			color: rgba($color: white, $alpha: 0.6);
			margin: 0;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}

	// Contenedor de los controles
	.controls-container {
		display: flex;
		align-items: center;
		color: white;
		margin-right: auto;
		margin-left: auto;

		// Controles
		.control-button {
			cursor: pointer;
			margin-left: 10px;
			margin-right: 10px;
			overflow: hidden;
			transition: color 150ms;

			&.no-margin {
				margin: 0;
			}

			&.margin-right {
				margin-right: 20px;
			}

			&.margin-left {
				margin-left: 20px;
			}

			&.active {
				color: $secondary;
			}
		}
	}

	// Contenedor del volumen
	.volume-container {
		align-items: center;
		display: inline-flex;
		justify-content: flex-end;
		margin-right: 20px;
		width: $side-width;

		// Volumen
		.volume {
			-webkit-appearance: none;
			background-color: $gray;
			height: 50%;
			margin-right: 10px;
			outline: 0;
			overflow: hidden;
			width: 180px;

			&::-webkit-slider-thumb {
				-webkit-appearance: none;
				background: white;
				box-shadow: -100vw 0 0 100vw $secondary;
				cursor: pointer;
				height: 25px;
				transition: 150ms;
				width: 10px;
			}
		}

		// Texto del volumen
		.volume-text {
			color: white;
			display: inline;
		}
	}
}

/*
 * Cuadro de actualizaciones
 */
.update-box {
	background-color: $dark;
	border-radius: 8px;
	box-shadow: 0px 0px 5px rgba($color: black, $alpha: 0.6);
	color: white;
	display: none;
	flex-direction: column;
	font-family: 'Nunito Sans', Arial;
	left: 5px;
	overflow: hidden;
	padding: 0.8rem 1rem;
	position: absolute;
	top: 5px;
	transition: opacity 500ms;
	z-index: 2;

	// Mensaje
	.message {
		margin-top: 0.5rem;
		margin-bottom: 1rem;
	}

	// Grupo de botones
	.btn-group {
		display: flex;
	}

	// Botones
	.btn {
		border-radius: 0;
		margin: 0;
		width: 50%;
		// Primer botón
		&:first-of-type {
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
		}

		// Último botón
		&:last-of-type {
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
		}
	}

	// Mostrar
	&.show {
		display: block !important;
		animation: show-update-box;
		animation-duration: 500ms;
	}
}

@keyframes show-update-box {
	0% {
		transform: translateY(-1000px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

/*
 * Acerca del programa
 */
#closeBtn {
	position: absolute;
	bottom: 0.5rem;
	right: 0.5rem;
}

/*
 * Pantalla de carga
 */
.loading-screen {
	height: 100vh;
}
