// Requerido
@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';

// Colores
$primary: #E91E63;
$secondary: #FF9800;
$info: #1976D2;

// Variables
$scrollbar-width: 15px;

// Tema
$theme-colors: (
	"primary": $primary,
	"secondary": $secondary,
	"info": $info
);

// Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

/*
 * Lista de canciones
 */
#songList {
	border-bottom: 2px solid $gray-600;
	border-left: 2px solid $gray-600;
	height: calc(100vh - 70px);
	list-style: none;
	overflow-y: auto;
	user-select: none;

	/*
	 * Scrollbar
	 */
	&::-webkit-scrollbar {
		width: $scrollbar-width;
	}

	&::-webkit-scrollbar-track {
		box-shadow: inset 0 0 6px rgba($color: $black, $alpha: 0.2);
	}

	&::-webkit-scrollbar-thumb {
		background: $gray-700;
	}

	> div {
		transition: background-color 250ms;
		font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
		&:hover {
			cursor: pointer;
			color: $light;
			background-color: $primary;

			span {
				color: $gray-300 !important;
			}
		}

		span {
			pointer-events: none;
		}

		&.active {
			background: $secondary;
		}
	}

	> p {
		font-family: 'Nunito Sans', sans-serif;
	}

	// Canciones
	.song {
		background-color: $gray-200;
		margin-bottom: 0.2rem;
	
		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

// No resultados
.search-no-results {
	font-size: 1.5em;
	left: 0;
	position: absolute;
	right: 0;
	top: 80px;
}

// Título "Lista de canciones"
#songsListTitle {
	background: $gray-600;
	font-family: 'Nunito Sans', sans-serif;
	height: 70px;
	position: relative;
	user-select: none;
	z-index: 1;

	#searchInput {
		border: 2px solid $gray-800;
		padding-left: 2.5rem;
	}

	.search-icon {
		position: absolute;
		color: $gray-500;
		left: 2rem;
		padding-right: 0.3rem;
		border-right: 1px solid $gray-500;
	}
}

@include media-breakpoint-down(md) {
	#songList {
		height: 60vh;
	}
}

/*
 * Reproductor
 */
#player {
	background: url('../img/background.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 40vh;
}

// Contenedor del título
#songTitleContainer {
	background: rgba($color: $black, $alpha: 0.7);
	height: 70px;
	white-space: nowrap;
	width: 100%;
}

// Título de la canción
#songTitle {
	color: $light;
	float: left;
	font-family: 'Nunito Sans', sans-serif;
	position: relative;
	user-select: none;

	// Artista
	span {
		color: $gray-500;
	}
}

// Panel de controles
#playerPanel {
	background: rgba($color: $black, $alpha: 0.7);
	bottom: 0;
	height: 65px;
	left: 0;
	position: absolute;
	user-select: none;
	width: 100%;
}

// Tiempo de reproducción
#playerRange {
	-webkit-appearance: none;
	background: $gray-500;
	height: 8px;
	outline: none;
	overflow: hidden;
	position: absolute;
	top: -8px;
	transition: 200ms;
	width: 100%;

	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		box-shadow: -100vw 0 0 100vw $primary;
		cursor: pointer;
		transition: 150ms;
		width: 0;
	}

	&:hover {
		cursor: pointer;
		height: 15px;
		top: -15px;
	}
}

#volumeText {
	line-height: 20px;
}

#playerVolumeContainer {
	height: 20px;
	left: 25px;
	margin-top: -10px;
	overflow: hidden;
	position: absolute;
	top: 50%;
	width: 250px;

	> #playerVolume {
		-webkit-appearance: none;
		background: $gray-600;
		cursor: pointer;
		height: 20px;
		outline: none;
		transition: opacity 200ms;
		width: 80%;

		&::-webkit-slider-thumb {
			-webkit-appearance: none;
			box-shadow: -100vw 0 0 100vw $secondary;
			cursor: pointer;
			transition: 150ms;
			background: $light;
			height: 25px;
			width: 10px;
		}
	}
}

#otherControls {
	position: absolute;
	top: 0;
	right: 25px;
	height: 100%;

	.active {
		color: $secondary;
	}
}

.controls {
	color: $gray-400;
}

.control-btn {
	transition: color 250ms;
	&:hover {
		cursor: pointer;
	}
}

.playIcon {
	display: none !important;
	margin-top: -8px;
	right: 8px;
	top: 50%;

	&-show {
		display: block !important;
	}
}

/*
 * Cuadro de actualizaciones
 */
.update-box {
	left: 5px;
	overflow: hidden;
	position: absolute;
	top: 5px;
	transition: opacity 500ms;
	z-index: 2;

	&.show {
		display: inline-flex !important;
		animation: show-update-box;
		animation-duration: 500ms;
	}
}

@keyframes show-update-box {
	0% {
		transform: translateY(-1000px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

/*
 * Acerca del programa
 */
#closeBtn {
	position: absolute;
	bottom: 0.5rem;
	right: 0.5rem;
}

/*
 * Pantalla de carga
 */
.loading-screen {
	height: 100vh;
}
