// Requerido
@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';

// Colores
$primary: #E91E63;
$secondary: #FF9800;
$info: #1976D2;

// Variables
$scrollbar-width: 12px;
$scrollbar-radius: 10px;
$navbar-height: 40px;

// Tema
$theme-colors: (
	"primary": $primary,
	"secondary": $secondary,
	"info": $info
);

// Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

html {
	overflow: hidden;
}

/*
 * Barra de menú
 */
.bar {
	-webkit-app-region: drag;
	background-color: $primary;
	color: $light;
	display: flex;
	height: $navbar-height;
	padding-left: 0.5rem;

	// Menú
	.menu {
		line-height: $navbar-height;
		margin: 0;
		padding: 0 0.5rem;
		position: relative;
		user-select: none;

		&:hover {
			background-color: $secondary;
			color: $dark;
		}

		// Elemento de menú
		.menu-item {
			list-style: none;
		}

		// Submenú
		.submenu {
			background-color: $primary;
			border: 1px solid $light;
			box-shadow: 0 0 2px rgba($color: $dark, $alpha: 0.3);
			display: none;
			left: 0;
			position: absolute;
			z-index: 1;

			.submenu-item {
				color: $light;
				list-style: none;
				padding: 0.25rem 0.5rem;
				white-space: nowrap;

				&:hover {
					background-color: $secondary;
					color: $dark;
				}

				// Elemento de shortcut
				.shortcut {
					padding-left: 1rem;
				}
			}

			.separator {
				border-bottom: 1px solid $light;
			}
		}
	}

	// Botones de control
	.buttons-menu {
		display: flex;
		height: $navbar-height;
		position: absolute;
		right: 0;
		top: 0;

		.button {
			padding: 0.5rem;

			&:hover {
				background-color: $secondary;
				color: $dark;
			}
		}
	}
}

/*
 * Lista de canciones
 */
.songs-list {
	background-color: whitesmoke;
	//border-bottom: 3px solid $gray-600;
	border-left: 3px solid $gray-600;
	height: calc(100vh - (70px + 40px));
	list-style: none;
	overflow-y: auto;
	user-select: none;

	/*
	 * Scrollbar
	 */
	&::-webkit-scrollbar {
		width: $scrollbar-width;
	}

	&::-webkit-scrollbar-thumb {
		background: $gray-600;
		border-radius: $scrollbar-radius;
		border: 2px solid whitesmoke;
	}

	/*
	 * Canciones
	 */
	.song {
		background-color: $gray-300;
		margin-bottom: 3px;
		font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
		padding-bottom: 0.25rem;
		padding-left: 0.5rem;
		padding-right: 1.5rem;
		padding-top: 0.25rem;
		position: relative;
		transition: background-color 250ms;

		// Hover
		&:hover {
			background-color: $primary;
			color: $light;
			cursor: pointer;

			.artist {
				color: $gray-300 !important;
			}
		}

		// Artista
		.artist {
			color: $gray-600;
			pointer-events: none;
		}

		// Canción activa
		&.active {
			background: $secondary;
		}

		// Última canción
		&:last-of-type {
			margin-bottom: 0;
		}

		// Icono de reproducción
		.play-icon {
			display: none !important;
			margin-top: -8px;
			right: 8px;
			top: 50%;

			// Mostrar icono
			&-show {
				display: block !important;
			}
		}
	}
}

// No resultados
.search-no-results {
	font-size: 1.5em;
	left: 0;
	position: absolute;
	right: 0;
	top: 80px;
}

// Caja de búsqueda
.search-box {
	align-items: center;
	background: $gray-600;
	color: $light;
	display: flex;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 1.5em;
	height: 70px;
	justify-items: center;
	margin-bottom: 0;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	position: relative;
	text-align: center;
	user-select: none;
	z-index: 1;

	// Campo de texto
	.search-input {
		border: 0;
		border-radius: 2rem;
		padding-left: 2.5rem;
	}

	// Icono
	.search-icon {
		position: absolute;
		color: $gray-500;
		left: 2rem;
		padding-right: 0.3rem;
		border-right: 1px solid $gray-500;
	}
}

// Pantalla pequeña
@include media-breakpoint-down(sm) {
	.songs-list {
		height: calc(60vh - 70px);
	}
}

/*
 * Reproductor
 */
.player {
	background: url('../img/background.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 40vh;
	padding-left: 0;
	padding-right: 0;
	position: relative;

	// Contenedor del título
	.title-container {
		background: rgba($color: $black, $alpha: 0.7);
		height: 70px;
		white-space: nowrap;
		width: 100%;

		// Título de la canción
		.song-title {
			color: $light;
			float: left;
			font-family: 'Nunito Sans', sans-serif;
			position: relative;
			user-select: none;

			// Artista
			.song-artist {
				color: $gray-500;
			}
		}
	}

	// Panel de controles
	.player-panel {
		background: rgba($color: $black, $alpha: 0.7);
		bottom: 0;
		height: 65px;
		left: 0;
		position: absolute;
		user-select: none;
		width: 100%;
	}

	// Tiempo de reproducción
	.seekbar {
		-webkit-appearance: none;
		background: $gray-500;
		height: 8px;
		outline: none;
		overflow: hidden;
		position: absolute;
		top: -8px;
		transition: 200ms;
		width: 100%;

		&::-webkit-slider-thumb {
			-webkit-appearance: none;
			box-shadow: -100vw 0 0 100vw $primary;
			cursor: pointer;
			transition: 150ms;
			width: 0;
		}

		&:hover {
			cursor: pointer;
			height: 15px;
			top: -15px;
		}
	}

	// Botones
	.control-btn {
		display: inline-block;
		color: $gray-500;
		transition: color 250ms;

		// Hover
		&:hover {
			cursor: pointer;
		}
	}

	// Más botones
	.extra-buttons {
		position: absolute;
		top: 0;
		right: 25px;
		height: 100%;
	
		// Botón activo
		.active {
			color: $secondary;
		}
	}

	// Contenedor del volumen
	.volume-container {
		display: flex;
		height: 20px;
		left: 25px;
		margin-top: -10px;
		overflow: hidden;
		position: absolute;
		top: 50%;
		width: 33.33%;
	
		// Barra de volumen
		.volume {
			-webkit-appearance: none;
			flex-grow: 1;
			background: $gray-600;
			cursor: pointer;
			height: 20px;
			outline: none;
			transition: opacity 200ms;
			margin-right: 0.5rem;
			max-width: 200px;
	
			// Scroll
			&::-webkit-slider-thumb {
				-webkit-appearance: none;
				box-shadow: -100vw 0 0 100vw $secondary;
				cursor: pointer;
				transition: 150ms;
				background: $light;
				height: 25px;
				width: 10px;
			}
		}
		
		// Volumen en texto
		.volume-text {
			color: $light;
			float: right;
			line-height: 20px;
		}
	}
}

/*
 * Cuadro de actualizaciones
 */
.update-box {
	left: 5px;
	overflow: hidden;
	position: absolute;
	top: 5px;
	transition: opacity 500ms;
	z-index: 2;

	&.show {
		display: inline-flex !important;
		animation: show-update-box;
		animation-duration: 500ms;
	}
}

@keyframes show-update-box {
	0% {
		transform: translateY(-1000px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

/*
 * Acerca del programa
 */
.info-box {
	display: flex;
	flex-direction: column;
	height: 100vh;

	// Información
	.about-info {
		align-items: center;
		background-color: $secondary;
		border-radius: 10px;
		color: $dark;
		display: flex;
		flex-grow: 1;
		font-family: 'Nunito Sans', sans-serif;
		font-weight: 600;
		justify-content: center;
		padding: 0.3rem 0.5rem;
		transition: background-color 250ms;
	
		// Campos de información
		.subtext {
			padding-left: 0.25rem;
			font-weight: normal;
		}
	
		// Repositorio en GitHub
		&.repository {
			font-weight: normal;
	
			&:hover {
				cursor: pointer;
				background-color: rgba($color: $secondary, $alpha: 0.7);
			}
		}
	}
}

/*
 * Pantalla de carga
 */
.loading-screen {
	height: 100vh;

	// Texto de carga
	.loading-text {
		font-family: 'Nunito Sans', sans-serif;
	}
}
